@font-face {
  font-family: "WavvePADO-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/2404@1.0/WavvePADO-Regular.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: "WavvePADO-Regular";
}

.container6 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  /* background-image: url("/public/image/Main2.png"); */
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.wrapper6 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 5px solid whitesmoke;
  padding: 30px;
  border-radius: 40px;
  background-color: whitesmoke;
  width: 380px;
  height: auto;
}

.content6 {
  display: flex;
  flex-direction: column;
  align-items: center; /* 모든 요소들을 가운데 정렬 */
  text-align: center; /* 텍스트 가운데 정렬 */
}

.inputContainer6 {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.labelText6 {
  margin-right: 10px;
  width: 80px; /* 텍스트 영역의 너비를 조절하여 텍스트를 일정한 간격으로 정렬합니다. */
  text-align: left; /* label 텍스트를 왼쪽 정렬 */
}

.input16 {
  height: 30px;
  width: 200px;
  border-radius: 10px;
}

.button16,
.button26 {
  color: white;
  background-color: black;
  width: 120px;
  height: 30px;
  border-radius: 10px;
  margin-top: 50px;
}
.button26 {
  margin-left: 10px;
}

.member6 {
  margin-bottom: 40px;
}
