@font-face {
  font-family: "WavvePADO-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/2404@1.0/WavvePADO-Regular.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: "WavvePADO-Regular";
}

.container5 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  /* background-image: url("/public/image/Main2.png"); */
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.wrapper5 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 5px solid whitesmoke;
  padding: 30px;
  border-radius: 40px;
  background-color: whitesmoke;
  width: 380px;
  height: auto;
}

.input15 {
  margin-top: 40px;
  margin-bottom: 10px;
  height: 30px;
  width: 300px;
  border-radius: 10px;
}

.input25 {
  margin-bottom: 30px;
  height: 30px;
  width: 300px;
  border-radius: 10px;
}

.button15 {
  color: white;
  background-color: black;
  width: 100px;
  height: 30px;
  border-radius: 10px;
  margin-bottom: 30px;
  margin-top: 20px;
  margin-right: 15px; /* 수정: 회원가입 버튼과 로그인 버튼 간격 조정 */
}

.button25 {
  color: white;
  background-color: black;
  width: 100px;
  height: 30px;
  border-radius: 10px;
}

.login5 {
  font-size: xx-large;
  font-weight: bolder;
}

.kakao5 {
  width: 120px;
  height: 35px;
  border-radius: 10px;
  margin-right: 15px; /* 수정: input2와 kakao 사이 간격 조정 */
}

.naver5 {
  width: 120px;
  height: 35px;
  border-radius: 10px;
  margin-left: 15px; /* 수정: input2와 kakao 사이 간격 조정 */
}

.socialLogin5 a {
  margin: 0 5px; /* 각 소셜 로그인 링크 사이의 간격 조정 */
}
.login5 {
  margin-top: 40px;
  margin-bottom: 5px;
}
